<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link rel="stylesheet" href="/templates/css/index.css">
    <script crossorigin src="/templates/js/react-1.js"></script>
    <script crossorigin src="/templates/js/react-2.js"></script>
    <script src="/templates/js/app.js" defer></script>
</head>
<body>
    <nav>
        <a href="">FlaskApp</a>
        <a href="">About</a>
    </nav>
    <hr>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <hr>
    <nav>
        <a href="">help</a>
        <a href="">contact</a>
    </nav>
    <div id="app"></div>
</body>
</html>