{% extends 'header.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<h2>{{ userName }}</h2>

{% for name in table %}
    <p>{{ name }}</p>
{% endfor %}

<div id="content"></div>

<script>
    let value = {{ table|tojson }}
    console.log(value)

    let content = [];
    for (let i = 0; i < value['length']; i++) {
        let item = React.createElement('h2', {}, value[i]);
        content.push(item);
    }
    const app = document.getElementById("content")
    ReactDOM.render(content, app)
</script>

{% endblock %}